:root {
  --green: #a9ca3a;
  --black-primary: #221f1f;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.btn {
  display: block;
  margin-bottom: 0;
  padding: 5px 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
}
.main footer {
  background-color: #a9ca3a;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
}
.container {
  margin: auto;
  padding: 10px;
}

/************** media queries ***********/
/* md */
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* lg */
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
