.all-products {
  transition: 0.5 ease;
}
.all-products-title {
  text-transform: capitalize;
  margin-bottom: 15px;
}
.all-products .pagination {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.all-products .pagination button {
  cursor: pointer;
  background-color: #7e7a7a;
  color: white;
  border: none;
  width: 25px;
  height: 25px;
}

/************** media queries ***********/
/* md */
@media only screen and (min-width: 768px) {
  .all-products .products {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
  }
  .all-products .products .products-item {
    flex: 0 0 49%;
    /* padding: 15px; */
  }
}
/* lg */
@media only screen and (min-width: 992px) {
  .all-products .products .products-item {
    flex: 0 0 24%;
  }
}
@media only screen and (min-width: 1200px) {
}
