.welcome {
  /* height: 170px; */
  background-color: rgba(235, 170, 170, 0.4);
  padding: 30px 20px;
}
.welcome p {
  color: var(--green);
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 0;
}
.welcome button {
  background-color: var(--green);
  color: #f1f1f1;
  border: none;
  outline: none;
}
