.profile .welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.profile .name {
  font-weight: bold;
  text-transform: capitalize;
}
.profile .profile-btn {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}
.profile .info {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}
.profile .info .title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile .info p {
  margin: 0;
  margin-bottom: 5px;
}
.profile .edit {
  cursor: pointer;
  user-select: none;
}
.profile .edit span {
  margin-left: 5px;
}
.profile .orders-history-link {
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.profile .orders-history-link a {
  color: green;
  text-decoration: none;
}
.profile .orders-history-link span {
  margin-left: 10px;
}
