.header {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--black-primary);
  padding-left: 15px;
  padding-right: 15px;
}
.header a {
  text-decoration: none;
  color: #000000;
}
.header .logo {
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
}
.header .logo img {
  width: 140px;
}
.header div .icon {
  font-size: 1.2rem;
  cursor: pointer;
}
.header .cart-icon {
  margin-left: 10px;
}
.header .cart-counter {
  position: relative;
  top: -12px;
  right: 7px;
  background-color: var(--green);
  color: #fff;
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  font-size: 12px;
}
.header .login-link:hover {
  background-color: rgb(39, 153, 39);
}
.header .login-link {
  text-decoration: none;
  background-color: green;
  color: #f1f1f1;
  padding: 3px 5px;
  border-radius: 3px;
}
.header .wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.header .wrapper .logout {
  position: absolute;
  background-color: white;
  box-shadow: 4px 3px 20px -2px grey;
  right: 0;
  top: calc(100% + 5px);
  padding: 10px;
  display: none;
}
.header .wrapper .logout span {
  color: rgb(61, 61, 245);
  font-weight: bold;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}
.header .logout-btn {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}
.header .side-box {
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.header .side-box .side-slider {
  position: relative;
  overflow-y: auto;
  background-color: #ffffff;
  width: 70%;
  height: 100%;
  padding: 20px;
}
.header .side-box .side-exit-icon {
  position: absolute;
  right: 20px;
  z-index: 999;
  color: var(--black-primary);
  font-size: larger;
  cursor: pointer;
}
.header .side-slider .title {
  margin-bottom: 10px;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}
.header .side-slider ul {
  margin-bottom: 30px;
}
.header .side-slider ul li {
  margin-bottom: 15px;
}
.header .side-slider .social ul {
  display: flex;
  column-gap: 20px;
}
.header .dashboard-link {
  background-color: green;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;
}
